@keyframes openBrackets {
  0% { width: 97px; transform: translateY( 300px );}
  50% { width: 97px; transform: translateY( 0px );}
  100% { width: 400px;}
}
@keyframes fadeIn {
  0% { opacity: 0; }
  70% { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes rollIn {
  0% { transform: rotate(45deg); }
  100% { transform: rotate(0deg); }
}


* {
  margin: 0;
  padding: 0;
}
body {
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;
}

.wrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
    position: absolute;
}
.container {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}
.logo {
  /*width: 442px;
  height: 442px;*/
  /*width:23vw;
  height:24vh;*/
  width: 53vh;
  height: 53vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6vh;
}
.sub-logo {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  animation: openBrackets 1200ms cubic-bezier(.65,.05,.33,1.37);
}
#bLeft {
  float: left;
  position: relative;
  z-index: 4;
}
#bRight {
  float: right;
  position: relative;
    z-index: 4;
}
#wip-text {
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
  position: relative;
  margin-top: 40px;
  text-align: center;
  animation: fadeIn 1650ms ease-in;
}
#outter-circle {
  background: url('./images/logo2OUTTER.svg') center center no-repeat;
  background-size: contain;
  position: relative;
  z-index: 1;
    animation: rollIn 550ms cubic-bezier(.65,.05,.33,1.37);
}
#inner-circle {
  background: url('./images/logo2INNER.svg') center center no-repeat;
  background-size: contain;
  z-index: 2;
  position: relative;
}
#logo {
  background: url('./images/logo2.svg') center center no-repeat;
  background-size: contain;
  z-index: 3;
  position: relative;
}
#contactlink {
  border: 2px solid #5a4847;
  color: #FFF;
  background: #5a4847;
  padding: 8px 18px 8px 18px;
  text-align: center;
  text-decoration: none;
  transition: all 350ms;
}
#contactlink:hover {
  padding: 8px 38px 8px 38px;
  background: rgba(0,0,0,0);
  color: #5a4847;
}


@media (max-width: 480px) {
  @keyframes openBrackets {
    0% { width: 97px; transform: translateY( 300px );}
    50% { width: 97px; transform: translateY( 0px );}
    100% { width: 300px;}
  }

  .sub-logo {
    width: 300px;
  }

}
