.MenuItem, .AccordionPanelTab {
  cursor: pointer;
}

#u432 {
  background-color: #E5E5E5;
}

#buttonu650 {
  border-width: 0px;
  background: transparent url("../images/fbicon.jpg?crc=462244750") no-repeat left top;
  background-size: cover;
}

#buttonu650:hover {
  background: transparent url("../images/fbiconhover.jpg?crc=275359336") no-repeat center center;
  background-size: cover;
}

#buttonu650.ButtonSelected {
  background: transparent url("../images/fbicon.jpg?crc=462244750") no-repeat left top;
  background-size: cover;
}

#u674-11 {
  line-height: 16px;
  font-family: open-sans, sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  background-color: transparent;
  text-align: left;
}

#u674-3 {
  padding-top: 3px;
}

#u674-6 {
  line-height: 0px;
  padding-top: 3px;
}

#u674-4 {
  font-size: 14px;
  line-height: 17px;
  font-family: open-sans, sans-serif;
  font-weight: 800;
}

#u674-5 {
  line-height: 16px;
}

#u674-9 {
  padding-top: 3px;
}

#u674, #u674-7 {
  font-weight: 700;
  font-family: open-sans, sans-serif;
}

#buttonu590, #buttonu605, #buttonu632, #buttonu634, #buttonu636, #buttonu611, #buttonu16113 {
  background-color: transparent;
  border-width: 0px;
}

#u602-4, #u606-4, #u633-4, #u635-4, #u637-4, #u612-4, #u16114-4 {
  letter-spacing: 1px;
  font-family: open-sans, sans-serif;
  background-color: transparent;
  text-align: center;
  font-weight: 400;
}

#pbuttonu590:hover #u602-4 p, #pbuttonu605:hover #u606-4 p, #pbuttonu632:hover #u633-4 p, #pbuttonu634:hover #u635-4 p, #pbuttonu636:hover #u637-4 p, #pbuttonu611:hover #u612-4 p, #pbuttonu16113:hover #u16114-4 p {
  visibility: inherit;
  color: #0B0B0A;
}

#pbuttonu590.ButtonSelected #u602-4 p, #pbuttonu605.ButtonSelected #u606-4 p, #pbuttonu632.ButtonSelected #u633-4 p, #pbuttonu634.ButtonSelected #u635-4 p, #pbuttonu636.ButtonSelected #u637-4 p, #pbuttonu611.ButtonSelected #u612-4 p, #pbuttonu16113.ButtonSelected #u16114-4 p {
  visibility: inherit;
  color: #000000;
}

#pbuttonu590:hover #buttonu590, #pbuttonu605:hover #buttonu605, #pbuttonu632:hover #buttonu632, #pbuttonu634:hover #buttonu634, #pbuttonu636:hover #buttonu636, #pbuttonu611:hover #buttonu611, #pbuttonu16113:hover #buttonu16113 {
  border-color: #0B0B0A;
  border-style: solid;
  border-width: 0px 0px 2px;
}

@media (min-width: 769px), print {
  #u15093:active {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background: transparent url("../images/menu2-u15093-m.png?crc=4245031286") no-repeat 0px 0px;
  }
  #u15093 {
    vertical-align: top;
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background: transparent url("../images/menu2-u15093.png?crc=3889413594") no-repeat 0px 0px;
  }
  #u15093.AccordionPanelTabOpen {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    background: transparent url("../images/close2-u15093-a.png?crc=4062425684") no-repeat 0px 0px;
  }
  #u15061 {
    border-width: 0px;
    background-color: #0B0B0A;
    opacity: 0.88;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity=88);
  }
  #menuu15064 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u15086, #u15087 {
    background-color: transparent;
  }
  #u15087:active {
    background-color: #E5E5E5;
  }
  #u15089-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u15087:hover #u15089-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15087:active #u15089-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15087.MuseMenuActive, #u15079, #u15082 {
    background-color: transparent;
  }
  #u15082:active {
    background-color: #E5E5E5;
  }
  #u15084-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u15082:hover #u15084-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15082:active #u15084-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15082.MuseMenuActive, #u15065, #u15066 {
    background-color: transparent;
  }
  #u15066:active {
    background-color: #E5E5E5;
  }
  #u15067-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u15066:hover #u15067-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15066:active #u15067-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15066.MuseMenuActive, #u15072, #u15075 {
    background-color: transparent;
  }
  #u15075:active {
    background-color: #E5E5E5;
  }
  #u15078-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u15075:hover #u15078-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15075:active #u15078-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15075.MuseMenuActive, #u15955, #u15956 {
    background-color: transparent;
  }
  #u15956:active {
    background-color: #E5E5E5;
  }
  #u15958-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u15956:hover #u15958-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15956:active #u15958-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u15087.MuseMenuActive #u15089-4, #u15082.MuseMenuActive #u15084-4, #u15066.MuseMenuActive #u15067-4, #u15075.MuseMenuActive #u15078-4, #u15956.MuseMenuActive #u15958-4 {
    border-width: 0px;
  }
  #accordionu15059, #u15060, #buttonu15062 {
    border-width: 0px;
    background-color: transparent;
  }
  #u15956.MuseMenuActive, #buttonu15062:hover {
    background-color: transparent;
  }
  #buttonu15062:active {
    background-color: #E5E5E5;
  }
  #buttonu15062.ButtonSelected {
    background-color: transparent;
  }
  #u15063-4 {
    background-color: transparent;
    line-height: 19px;
  }
  #buttonu15062:hover #u15063-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu15062:active #u15063-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu15062.ButtonSelected #u15063-4 {
    border-width: 0px;
    border-color: #000000;
  }
  #u15087.MuseMenuActive #u15089-4 p, #u15082.MuseMenuActive #u15084-4 p, #u15066.MuseMenuActive #u15067-4 p, #u15075.MuseMenuActive #u15078-4 p, #u15956.MuseMenuActive #u15958-4 p, #buttonu15062.ButtonSelected #u15063-4 p {
    text-decoration: underline;
  }
}

@media (min-width: 641px) and (max-width: 768px) {
  #u438-4 {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    border-width: 0px;
    color: #E5E5E5;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: '__Bauhaus 93_5';
    font-weight: 400;
    background: transparent url("../images/menu2.png?crc=3909131033") no-repeat right center;
  }
  #u438-4:active {
    background: #282827 url("../images/menu2-u438-4-m-fr.png?crc=4265189542") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen {
    background: #282827 url("../images/close2-u438-4-a-fr.png?crc=4196623154") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen p {
    line-height: 1.01;
    padding-top: 15px;
  }
  #u438-2 {
    padding-left: 12px;
    padding-top: 15px;
  }
  #u437 {
    border-width: 0px;
    background-color: #0B0B0A;
    opacity: 0.88;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity=88);
  }
  #menuu463 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u471, #u474 {
    background-color: transparent;
  }
  #u474:active {
    background-color: #E5E5E5;
  }
  #u475-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u474:hover #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474:active #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive, #u464, #u467 {
    background-color: transparent;
  }
  #u467:active {
    background-color: #E5E5E5;
  }
  #u469-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u467:hover #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467:active #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467.MuseMenuActive, #u508, #u511 {
    background-color: transparent;
  }
  #u511:active {
    background-color: #E5E5E5;
  }
  #u513-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u511:hover #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511:active #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511.MuseMenuActive, #u529, #u532 {
    background-color: transparent;
  }
  #u532:active {
    background-color: #E5E5E5;
  }
  #u535-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u532:hover #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532:active #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532.MuseMenuActive, #u16036, #u16039 {
    background-color: transparent;
  }
  #u16039:active {
    background-color: #E5E5E5;
  }
  #u16042-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u16039:hover #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u16039:active #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive #u475-4, #u467.MuseMenuActive #u469-4, #u511.MuseMenuActive #u513-4, #u532.MuseMenuActive #u535-4, #u16039.MuseMenuActive #u16042-4 {
    border-width: 0px;
  }
  #accordionu435, #u436, #buttonu1026 {
    border-width: 0px;
    background-color: transparent;
  }
  #u16039.MuseMenuActive, #buttonu1026:hover {
    background-color: transparent;
  }
  #buttonu1026:active {
    background-color: #E5E5E5;
  }
  #buttonu1026.ButtonSelected {
    background-color: transparent;
  }
  #u1035-4 {
    background-color: transparent;
    line-height: 19px;
  }
  #buttonu1026:hover #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026:active #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026.ButtonSelected #u1035-4 {
    border-width: 0px;
    border-color: #000000;
  }
  #u474.MuseMenuActive #u475-4 p, #u467.MuseMenuActive #u469-4 p, #u511.MuseMenuActive #u513-4 p, #u532.MuseMenuActive #u535-4 p, #u16039.MuseMenuActive #u16042-4 p, #buttonu1026.ButtonSelected #u1035-4 p {
    text-decoration: underline;
  }
}

@media (min-width: 481px) and (max-width: 640px) {
  #u438-4 {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    border-width: 0px;
    color: #E5E5E5;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: '__Bauhaus 93_5';
    font-weight: 400;
    background: transparent url("../images/menu2.png?crc=3909131033") no-repeat right center;
  }
  #u438-4:active {
    background: #282827 url("../images/menu2-u438-4-m-fr.png?crc=4265189542") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen {
    background: #282827 url("../images/close2-u438-4-a-fr.png?crc=4196623154") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen p {
    line-height: 1.01;
    padding-top: 15px;
  }
  #u438-2 {
    padding-left: 12px;
    padding-top: 15px;
  }
  #u437 {
    border-width: 0px;
    background-color: #0B0B0A;
    opacity: 0.88;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity=88);
  }
  #menuu463 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u471, #u474 {
    background-color: transparent;
  }
  #u474:active {
    background-color: #E5E5E5;
  }
  #u475-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u474:hover #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474:active #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive, #u464, #u467 {
    background-color: transparent;
  }
  #u467:active {
    background-color: #E5E5E5;
  }
  #u469-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u467:hover #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467:active #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467.MuseMenuActive, #u508, #u511 {
    background-color: transparent;
  }
  #u511:active {
    background-color: #E5E5E5;
  }
  #u513-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u511:hover #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511:active #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511.MuseMenuActive, #u529, #u532 {
    background-color: transparent;
  }
  #u532:active {
    background-color: #E5E5E5;
  }
  #u535-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u532:hover #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532:active #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532.MuseMenuActive, #u16036, #u16039 {
    background-color: transparent;
  }
  #u16039:active {
    background-color: #E5E5E5;
  }
  #u16042-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u16039:hover #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u16039:active #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive #u475-4, #u467.MuseMenuActive #u469-4, #u511.MuseMenuActive #u513-4, #u532.MuseMenuActive #u535-4, #u16039.MuseMenuActive #u16042-4 {
    border-width: 0px;
  }
  #accordionu435, #u436, #buttonu1026 {
    border-width: 0px;
    background-color: transparent;
  }
  #u16039.MuseMenuActive, #buttonu1026:hover {
    background-color: transparent;
  }
  #buttonu1026:active {
    background-color: #E5E5E5;
  }
  #buttonu1026.ButtonSelected {
    background-color: transparent;
  }
  #u1035-4 {
    background-color: transparent;
    line-height: 19px;
  }
  #buttonu1026:hover #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026:active #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026.ButtonSelected #u1035-4 {
    border-width: 0px;
    border-color: #000000;
  }
  #u474.MuseMenuActive #u475-4 p, #u467.MuseMenuActive #u469-4 p, #u511.MuseMenuActive #u513-4 p, #u532.MuseMenuActive #u535-4 p, #u16039.MuseMenuActive #u16042-4 p, #buttonu1026.ButtonSelected #u1035-4 p {
    text-decoration: underline;
  }
}

@media (min-width: 321px) and (max-width: 480px) {
  #u438-4 {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    border-width: 0px;
    color: #E5E5E5;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: '__Bauhaus 93_5';
    font-weight: 400;
    background: transparent url("../images/menu2.png?crc=3909131033") no-repeat right center;
  }
  #u438-4:active {
    background: #282827 url("../images/menu2-u438-4-m-fr.png?crc=4265189542") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen {
    background: #282827 url("../images/close2-u438-4-a-fr.png?crc=4196623154") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen p {
    line-height: 1.01;
    padding-top: 15px;
  }
  #u438-2 {
    padding-left: 12px;
    padding-top: 15px;
  }
  #u437 {
    border-width: 0px;
    background-color: #0B0B0A;
    opacity: 0.88;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity=88);
  }
  #menuu463 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u471, #u474 {
    background-color: transparent;
  }
  #u474:active {
    background-color: #E5E5E5;
  }
  #u475-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u474:hover #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474:active #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive, #u464, #u467 {
    background-color: transparent;
  }
  #u467:active {
    background-color: #E5E5E5;
  }
  #u469-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u467:hover #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467:active #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467.MuseMenuActive, #u508, #u511 {
    background-color: transparent;
  }
  #u511:active {
    background-color: #E5E5E5;
  }
  #u513-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u511:hover #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511:active #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511.MuseMenuActive, #u529, #u532 {
    background-color: transparent;
  }
  #u532:active {
    background-color: #E5E5E5;
  }
  #u535-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u532:hover #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532:active #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532.MuseMenuActive, #u16036, #u16039 {
    background-color: transparent;
  }
  #u16039:active {
    background-color: #E5E5E5;
  }
  #u16042-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u16039:hover #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u16039:active #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive #u475-4, #u467.MuseMenuActive #u469-4, #u511.MuseMenuActive #u513-4, #u532.MuseMenuActive #u535-4, #u16039.MuseMenuActive #u16042-4 {
    border-width: 0px;
  }
  #accordionu435, #u436, #buttonu1026 {
    border-width: 0px;
    background-color: transparent;
  }
  #u16039.MuseMenuActive, #buttonu1026:hover {
    background-color: transparent;
  }
  #buttonu1026:active {
    background-color: #E5E5E5;
  }
  #buttonu1026.ButtonSelected {
    background-color: transparent;
  }
  #u1035-4 {
    background-color: transparent;
    line-height: 19px;
  }
  #buttonu1026:hover #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026:active #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026.ButtonSelected #u1035-4 {
    border-width: 0px;
    border-color: #000000;
  }
  #u474.MuseMenuActive #u475-4 p, #u467.MuseMenuActive #u469-4 p, #u511.MuseMenuActive #u513-4 p, #u532.MuseMenuActive #u535-4 p, #u16039.MuseMenuActive #u16042-4 p, #buttonu1026.ButtonSelected #u1035-4 p {
    text-decoration: underline;
  }
}

@media (max-width: 320px) {
  #u438-4 {
    -webkit-transition-duration: 0.4s;
    -webkit-transition-delay: 0s;
    -webkit-transition-timing-function: ease-out;
    transition-duration: 0.4s;
    transition-delay: 0s;
    transition-timing-function: ease-out;
    border-width: 0px;
    color: #E5E5E5;
    line-height: 16px;
    font-size: 16px;
    letter-spacing: 2px;
    font-family: '__Bauhaus 93_5';
    font-weight: 400;
    background: transparent url("../images/menu2.png?crc=3909131033") no-repeat right center;
  }
  #u438-4:active {
    background: #282827 url("../images/menu2-u438-4-m-fr.png?crc=4265189542") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen {
    background: #282827 url("../images/close2-u438-4-a-fr.png?crc=4196623154") no-repeat right center;
    background-color: rgba(11, 11, 10, 0.88);
  }
  #u438-4.AccordionPanelTabOpen p {
    line-height: 1.01;
    padding-top: 15px;
  }
  #u438-2 {
    padding-left: 12px;
    padding-top: 15px;
  }
  #u437 {
    border-width: 0px;
    background-color: #0B0B0A;
    opacity: 0.88;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=88)";
    filter: alpha(opacity=88);
  }
  #menuu463 {
    border-width: 0px;
    border-color: transparent;
    background-color: transparent;
  }
  #u471, #u474 {
    background-color: transparent;
  }
  #u474:active {
    background-color: #E5E5E5;
  }
  #u475-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u474:hover #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474:active #u475-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive, #u464, #u467 {
    background-color: transparent;
  }
  #u467:active {
    background-color: #E5E5E5;
  }
  #u469-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u467:hover #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467:active #u469-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u467.MuseMenuActive, #u508, #u511 {
    background-color: transparent;
  }
  #u511:active {
    background-color: #E5E5E5;
  }
  #u513-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u511:hover #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511:active #u513-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u511.MuseMenuActive, #u529, #u532 {
    background-color: transparent;
  }
  #u532:active {
    background-color: #E5E5E5;
  }
  #u535-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u532:hover #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532:active #u535-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u532.MuseMenuActive, #u16036, #u16039 {
    background-color: transparent;
  }
  #u16039:active {
    background-color: #E5E5E5;
  }
  #u16042-4 {
    border-color: #E5E5E5;
    background-color: transparent;
    line-height: 19px;
    color: #FFFFFF;
  }
  #u16039:hover #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u16039:active #u16042-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #u474.MuseMenuActive #u475-4, #u467.MuseMenuActive #u469-4, #u511.MuseMenuActive #u513-4, #u532.MuseMenuActive #u535-4, #u16039.MuseMenuActive #u16042-4 {
    border-width: 0px;
  }
  #accordionu435, #u436, #buttonu1026 {
    border-width: 0px;
    background-color: transparent;
  }
  #u16039.MuseMenuActive, #buttonu1026:hover {
    background-color: transparent;
  }
  #buttonu1026:active {
    background-color: #E5E5E5;
  }
  #buttonu1026.ButtonSelected {
    background-color: transparent;
  }
  #u1035-4 {
    background-color: transparent;
    line-height: 19px;
  }
  #buttonu1026:hover #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026:active #u1035-4 {
    border-style: solid;
    border-color: #E5E5E5;
    border-width: 0px 0px 2px;
  }
  #buttonu1026.ButtonSelected #u1035-4 {
    border-width: 0px;
    border-color: #000000;
  }
  #u474.MuseMenuActive #u475-4 p, #u467.MuseMenuActive #u469-4 p, #u511.MuseMenuActive #u513-4 p, #u532.MuseMenuActive #u535-4 p, #u16039.MuseMenuActive #u16042-4 p, #buttonu1026.ButtonSelected #u1035-4 p {
    text-decoration: underline;
  }
}