body, html {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    color: #F0F0F0;
    font-size: 62.5%;
    background: #252529;
    font-weight: 100;
}
.dark-text {
    color: #252529;
}
p {
    font-size: 1.2em;
    margin: 0;
}
a {
    color: #F0F0F0;
}
a:hover {
    color: #FF7070;
}
/* HEADER START */
header {
    height: 500px;
    background: no-repeat fixed top;
    background-size: auto 100%;
    display: grid;
    grid-template-columns: 25% 40% 35%;
    grid-template-rows: 35% 65%
}

#top-container {
    grid-column: 1/4;
    grid-row: 1;
    font-size: 2.4em;
    display: grid;
    grid-template-columns: 25% 40% 35%;
    margin-top: 16px;
}
#back-btn {
    font-family: 'SymbolaRegular';
    grid-row: 1;
    grid-column: 1;
    font-size: 3em;
    font-weight: 300;
    margin-left: 5vw;
    cursor: pointer;
    height: 48px;
    width: 48px;
    overflow: hidden;
    line-height: .8;
    text-align: center;
    text-decoration: none;
}
#top-descriptor {
    grid-row: 1;
    grid-column: 2;
    margin-top: 4px;
}
#top-year {
    grid-row: 1;
    grid-column: 3;
    margin-top: 4px;
}
h1 {
    grid-column: 1/4;
    grid-row: 2;
    margin: 0 64px;
    font-size: 5em;
    font-weight: 200;
}
/* HEADER END */

/* MAIN START */
main {
    display: grid;
    grid-template-columns: 15% 50% 35%;
    grid-template-rows: 48px auto auto auto;
    grid-row-gap: 64px;
    font-size: 2em;
}
#about-project {
    grid-column: 2;
    grid-row: 1;
    margin-top: 16px;
}
#intro-container {
    grid-column: 1/4;
    grid-row: 2;
    margin: 0 32px;
}
#intro-container p, #intro-container a, #identity-textbox {
    font-size: 1.4em;
}
#intro-head, .style-headers, h2, h3 {
    font-size: 1.8em;
    font-weight: 300;
    margin: 0 0 32px 0;
}
#intro-textbox {
    margin-bottom: 16px;
}
#style-container {
    grid-column: 1/4;
    grid-row: 3;
    margin: 0 64px;
}
#palette-container, #typography-container, #identity-img-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    margin-bottom: 64px;
}
#palette-container {
    max-width: 330px;
    min-width: 240px;
    transform: translateX(-20px);
}
.palette-swatch {
    width: 70px;
    height: 70px;
    margin: 20px;
    background: orange;
    border-radius: 500px;
}
/* #swatch1 {
    background: #FFF;
}
#swatch2 {
    background: #6B7582;
}
#swatch3 {
    background: #333;
}
#swatch4 {
    background: #F5F5F5;
}
#swatch5 {
    background: #288FEB;
}
#swatch6 {
    background: #F45E58;
} */
.typography {
    width: auto;
    height: 100px;
}
#identity-textbox {
    margin-bottom: 64px;
}
.identity-img {
    width: 400px;
    max-height: 400px;
    padding: 24px 0;
}
.sitemaps {
    grid-column: 1/4;
    grid-row: 4;
    margin: 0 64px 64px 64px;
}
#img-sitemap {
    width: 100%;
}
/* MAIN END */

/* FOOTER START */
footer {
    position: relative;
    bottom: 0;
    padding: 0 0 32px 9vw;
    font-size: 1em;
}
#top-btn, #copyright, footer p {
    font-size: 3em;
}
/* FOOTER END */

@media only screen and (min-width: 480px) {
    /* HEADER START */
    h1 {
        font-size: 6em;
        grid-column: 1/4;
        max-width: 400px;
        margin: 0 auto;
    }
    /* HEADER END */
    /* MAIN START */
    main {
        grid-template-rows: 48px auto auto auto;
        font-size: 2.4em;
    }
    #intro-container, #style-container {
        min-width: 350px;
        max-width: 400px;
        margin: auto;
    }
    .sitemaps {
        max-width: 400px;
        margin: 0 auto 64px auto;
    }
    #palette-container {
        transform: translateX(-12px);
        max-width: 400px;
    }
    .palette-swatch {
        width: 72px;
        height: 72px;
    }
}

@media only screen and (min-width: 600px) {
    header {
        background-size: cover;
    }
    h1 {
        font-size: 6.4em;
        font-weight: 400;
        grid-column: 2/5;
        margin: 0;
    }
    main {
        grid-template-rows: 100px auto auto auto;
    }
    #intro-head {
        font-size: 2.2em;
        font-weight: 400;
        margin-bottom: 16px;
    }
    #intro-container {
        margin-bottom: 100px;
    }
    #intro-container, #style-container, .sitemaps {
        min-width: 400px;
        max-width: 60vw;
    }
    #palette-container, #typography-container, #identity-img-container {
        width: 400px;
    }
    footer {
        text-align: initial;
        display: flex;
        justify-content: space-around;
        padding: 0 0 32px 0;
    }
}

@media only screen and (min-width: 1000px) {
    #back-btn {
        margin-top: 32px;
    }
    h1 {
        font-size: 7.6em;
        max-width: 600px;
    }
    main {
        grid-template-columns: 15% 10% 25% 25% 10% 15%;
        grid-template-rows: 100px 460px auto auto;
    }
    #about-project {
        grid-column: 3;
    }
    #intro-container {
        grid-column: 3/5;
        margin: 0;
        width: 600px;
    }
    .sitemaps {
        grid-column: 1/4;
        grid-row: 3;
        max-width: 100%;
        /* max-width: 420px; */
        margin-left: 20%;
    }
    #style-container {
        grid-column: 4/7;
        grid-row: 3;
        width: 400px;
    }
    #palette-container {
        transform: translateX(0);
    }
    .palette-swatch {
        margin-left: 0;
        margin-right: 48px;
    }
}

@media only screen and (min-width: 1200px) {
    header {
        background-size: cover;
    }
    #intro-container {
        grid-column: 4/7;
        margin: auto;
        width: 420px;
        padding-left: 16px;
    }
    .sitemaps {
        grid-row: 2;
        margin-top: 42px;
        max-width: 480px;
    }
}

@media only screen and (min-width: 1400px) {
    main {
        max-width: 1400px;
        margin: auto;
    }
    .sitemaps, #intro-container, #style-container {
        transform: translateX(-64px);
        width: 540px;
    }
    #palette-container {
        max-width: 540px;
        min-width: 540px;
    }
    /* #intro-container {
        padding-left: 30%;
    } */
}