body, html {
    margin: 0;
    padding: 0;
    font-family: 'Catamaran', sans-serif;
    color: #F0F0F0;
    font-size: 62.5%;
    background: #252529;
    font-weight: 100;
}
/* MISC START */
.next-icon, .prev-icon, #scroll-down {
    font-family: 'SymbolaRegular';
}
/* MENU START */
.menu-active {
    transition: all .7s ease;
}
.menu-opaic {
    z-index: 2;
}
.top, .middle, .bottom {
    transition: all .7s ease;
}
#menu-button {
    background: #252529;
    cursor: pointer;
    width: 40px;
    position: fixed;
    top: 0;
    right: 0;
    padding: 14px 20px 16px 22px;
    transition: all .7s ease;
    display: inline-block;
    z-index: 2;
    border-radius: 0 0 0 26px;
}
#menu-button.menu-active .top {
    transform: translateY(14px) rotateZ(45deg);
}
#menu-button.menu-active .bottom {
    transform: translateY(-14px) rotateZ(-45deg);
}
#menu-button.menu-active .middle {
    width: 0;
}
.bar {
    display: block;
    background: #F0F0F0;
    height: 4px;
    width: 100%;
    margin: 10px auto;
}
.menu {
    height: 100vh;
    position: fixed;
    background: #FF7070;
    width: 100%;
    opacity: 0;
    z-index: -1;
    transition: all .7s ease;
    display: flex;
    justify-content: center;
    align-content: center;
    cursor: context-menu;
}
.menu.opaic {
    transition: all .7s ease;
    opacity: 1 !important;
    cursor: auto;
    z-index: 1;
}
#menu-list {
    width: auto;
    margin: auto;
    list-style-type: none;
}
#menu-list>* {
    text-align: right;
}
#menu-list li a {
    font-size: 3.4em;
    font-weight: 400;
    text-decoration: none;
}
#menu-list li a:hover {
    color: #64FFDA;
}
#menu-list li:nth-child(1) a,
#menu-list li:nth-child(2) a,
#menu-list li:nth-child(8) a {
    color: #252529;
    font-size: 4em;
}
#menu-list li:nth-child(2) a {
    cursor: context-menu;
}
#menu-list li:nth-child(1) a:hover,
#menu-list li:nth-child(8) a:hover {
    color: #64FFDA;
}
/* MENU END */
/* Background Images Start */
#fest18-container {
    background: url('./img/li/forest-grass-green.jpg') fixed;
    background-size: cover;
}
#defence-container {
    background: url('./img/li/world-blue.png') fixed;
    background-size: cover;
}
#shred-container {
    background: url('./img/li/snow-white.jpg') fixed;
    background-size: cover;
}
#fostering-container {
    background: url('./img/li/belly-orange.jpg') fixed;
    background-size: cover;
}
#fest16-container {
    background: url('./img/li/festable-desat.jpg') fixed;
    background-size: cover;
}
/* Background Images End */
header, section, .top-container, footer {
    display: grid;
    grid-template-columns: 25% 40% 35%;
    grid-column: 1/4;
}
header, section {
    height: 100vh;
    grid-template-rows: 35% 20% 15% auto 64px;
    font-size: 1.6em;
}
section:last-child {
    height: 80vh
}
p, a {
    font-size: 1.8em;
    transition: all 350ms ease-in-out;
}
a {
    color: #F0F0F0;
}
a:hover {
    color: #FF7070;
}
.dark-text {
    color: #252529;
}
/* MISC END */
/* HEADER START */
.top-container {
    width: 100%;
    height: 110px;
    text-align: right;
    grid-template-rows: 50% 50%;
}
.top-container>* {
    margin: 0;
}
#cfgw-logo {
    margin: 10px 0 0 10px;
    grid-column: 1;
    grid-row: 1;
    width: 60px;
    height: 60px;
}
.top-descriptor {
    grid-column: 2/4;
    grid-row: 1;
    padding: 16px 12px 0 60px;
}
#top-email {
    padding-top: 16px;
}
#top-email, .top-year {
    grid-column: 2/4;
    grid-row: 2;
    padding-right: 12px;
}
h1, h2 {
    grid-column: 1/4;
    grid-row: 2;
    margin: 0 auto;
    font-size: 2.6em;
    font-weight: 400;
    width: 82%;
}
#top-contact-btn {
    grid-column: 1/4;
    grid-row: 3;
    margin: 0 auto;
    width: 82%;
}
#scroll-down {
    grid-column: 1/4;
    grid-row: 4;
    margin: auto;
    text-decoration: none;
    font-size: 4em;
}
/* HEADER END */
/* MAIN START */
.list-skills {
    list-style-type: none;
    grid-column: 3;
    grid-row: 3;
    padding: 2px 0;
    margin: 0;
    font-size: 1.3em;
    line-height: 2em;
}
.view-case-btn {
    grid-column: 1/3;
    grid-row: 3;
    margin-left: 9vw;
}
.bottom-container {
    display: flex;
    justify-content: space-around;
    grid-column: 1/4;
    grid-row: 5;
}
.prev {
    grid-column: 2;
}
.next {
    grid-column: 3;
}
.next-text, .prev-text {
    display: none;
}
.next-icon, .prev-icon {
    font-size: 2.4em;
    line-height: 1em;
}
.next-icon a, .prev-icon a {
    text-decoration: none;
}
#contact-container {
    grid-column: 1/4;
}
#contact-text, #contact-container a {
    grid-column: 1/4;
}
#contact-text {
    grid-row: 2;
    margin: 48px 9vw;
}
#contact-container a {
    grid-row: 3;
    margin-left: 9vw;
    padding-top: 24px;
    width: 160px;
    transform: translateY(24px);
}
/* MAIN END */
/* FOOTER START */
footer {
    grid-column: 1/4;
}
#copyright {
    font-size: 1.6em;
}
#page-bottom {
    position: relative;
    bottom: 0;
    grid-column: 1/4;
    grid-row: 6;
    font-size: 1.6em;
    padding: 0 0 32px 9vw;
}
#page-bottom p {
    margin: 0;
}
/* FOOTER END */

@media only screen and (min-width: 480px) {
    /* HEADER START */
    h1, h2 {
        grid-column: 2/4;
        grid-row: 2;
        margin: 0;
    }
    #cfgw-logo {
        width: 86px;
        height:  86px;
    }
    #top-contact-btn {
        grid-column: 2;
        margin: 0;
    }
    /* HEADER END */
    /* MAIN START */
    section:last-child {
        height: 90vh;
    }
    .view-case-btn {
        grid-column: 2;
        margin: 0;
    }
    .list-skills {
        font-size: 1.6em;
    }
    #contact-text {
        grid-column: 2/4;
        margin: 64px 64px 0 0;
    }
    #contact-container a {
        grid-column: 2;
        margin: 0;
    }
    .bottom-container {
        display: grid;
        grid-template-columns: 25% 40% 35%;
    }
    /* MAIN END */
    /* FOOTER START */
    #page-bottom {
        display: flex;
        align-items: center;
        padding: 0 0 32px 0;
        justify-content: space-around;
    }
    /* FOOTER END */

}

@media only screen and (min-width: 600px) {
    .top-container {
        text-align: left;
    }
    .top-descriptor {
        width: auto;
        padding: 16px 12px 0 0;
        grid-column: 2;
    }
    .top-year, #top-email {
        grid-row: 1;
        grid-column: 3;
        padding-top: 16px;
    }
    section:last-child {
        height: 70vh
    }
    #contact-text {
        width: 40vw;
        max-width: 420px;
    }
}

@media only screen and (min-width: 800px) {
    .top-descriptor, .top-year, #top-email {
        padding-top: 32px;
    }
    #cfgw-logo {
        width: 64px;
        height: 64px;
        margin: 16px 0 0 28px;
    }
    h1, h2 {
        font-size: 4em;
    }
    header, section {
        grid-template-rows: 35% 25% 15% auto 64px;;
    }
    .prev-icon, .next-icon {
        display: none;
    }
    .prev-text, .next-text {
        display: block;
    }
}